<!-- 

<div style="clear: both;">
<div class="section">
<div class="paper">

I am currently a research assistant at the Federal Reserve Board of Governors in the Risk Analysis section. 
<br> <br>
Before coming to Washington DC, I obtained a M.Sc in Economics from the <a href='http://www.barcelonagse.eu/'>Barcelona Graduate School of Economics</a> in 2016. 
<br> <br>
Prior to obtaining my M.Sc, I was working in the valuations group at Morgan Stanley covering Securitized Products and Counterparty Management.
<br> <br>
I received B.Sc degree from the <a href='http://www.stern.nyu.edu'>Stern School of Business</a>. 
While at NYU Stern, I was a research assistant for Professors' George Hall and Thomas Sargent. I was also a teaching assistant for Professor Paul Wachtel, covering Introductory Macroeconomics.

</div>
</div>
</div>
 -->

